<div class="background">
    <div class="form-card">
        <h2>Sign up</h2>
        <div *ngIf="showText">
            <p>{{ text }}</p>
        </div>
        <div>
            {{ textMail }}
        </div>
        <div class="form-group">
            <label for="UserName">Nom d'utilisateur :</label>



            <input type="text" id="user" [formControl]="idForm">

        </div>
        <div class="form-group">
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" [formControl]="passForm">
        </div>
        <div class="action-buttons">
            <button (click)="onConnect(idForm.value, passForm.value)">Connect</button>
        </div>
    </div>
</div>