<div id="header">
    <a routerLink="menu" class="minideco">
        <div class="nav">
            <a routerLink="menu" >Menu</a>
        </div>
    </a>

    <a routerLink="quizz" class="minideco">
        <div class="nav">
            <a routerLink="quizz" >Quizz</a>
        </div>
    </a>

    <a *ngIf="!cookie" routerLink="connection" class="minideco">
        <div class="nav">
            <a routerLink="connection" >Sign in</a>
        </div>
    </a>

    <a *ngIf="!cookie" routerLink="register" class="minideco">
        <div class="nav">
            <a routerLink="register" >Sign up</a>
        </div>
    </a>
    <a *ngIf="cookie" routerLink="register" class="minideco" (click)="disconnect()">
        <div class="nav">
            <a routerLink="register" >Déconnexion</a>
        </div>
    </a>
</div>