<div id="header">

    <a routerLink="" routerLinkActive="">
        <div class="nav">
            <a routerLink="" routerLinkActive="">Menu</a>
        </div>
    </a>

    <a routerLink="quizz" routerLinkActive="quizz">
        <div class="nav">
            <a routerLink="quizz" routerLinkActive="quizz">Quizz</a>
        </div>
    </a>

    <a routerLink="connection" routerLinkActive="connection">
        <div class="nav">
            <a routerLink="connection" routerLinkActive="connection">Connexion</a>
        </div>
    </a>
</div>