<div id="header">
    <a routerLink="menu" class="minideco">
        <div class="nav">
            <a routerLink="menu" >Menu</a>
        </div>
    </a>

    <a routerLink="quizz" class="minideco">
        <div class="nav">
            <a routerLink="quizz" >Quizz</a>
        </div>
    </a>

    <a *ngIf="!cookie" routerLink="connection" class="minideco">
        <div class="nav">
            <a routerLink="connection" >Sign in</a>
        </div>
    </a>
    <a *ngIf="cookie"  class="minideco" (click)="disconnect()">
        <div class="nav">
            <a >Déconnexion</a>
        </div>
    </a>
    <a  class="minideco" routerLink="addQuest">
        <div class="nav">
            <a routerLink="addQuest">Ajouter des questions</a>
        </div>
    </a>
</div>