<div class="background">
    <div class="form-card">
        <h2>Sign in</h2>
        <h3>Thanks to log in or create an account before !</h3>
        <div *ngIf="showText">
            <p>{{ text }}</p>
        </div>
        <div class="form-group">
            <label for="UserName">Email</label>
            <input type="email" id="user" [formControl]="idForm">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" [formControl]="passForm">
        </div>
        <div class="action-buttons">
            <button (click)="onConnect(idForm.value, passForm.value)">Connect</button>
        </div>
    </div>
</div>