<div class="quiz" *ngIf="init">
    <button class="bouton" (click)="start()">Commencer</button>
</div>
<div class="quiz" *ngIf="!init">
    <mat-spinner class="spinner"></mat-spinner>
</div>
<div class="quiz" *ngIf="showQuizz">
    <div class="title">
        <p class="titre">
            {{ currentQuestion.titre }}
        </p>
    </div>
    <div>
        <input type="text" class="reponse" [formControl]="reponseForm"
            (keyup.enter)="submitResponse(reponseForm.value)">
    </div>
    <div id="points">
        <animations [digit]="points" [duration]="1000"></animations>
    </div>


</div>